[Desktop Entry]
Name=Latitude
GenericName=Latitude
Comment=Open and create GPX files. Plan your future adventure.
Categories=Accessories;
Exec=com.github.malothebault.latitude
Icon=com.github.malothebault.latitude
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.malothebault.latitude
Keywords=Python;
